<div flex class="md-padding">
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>{{loc.user.general.loginName}}</label>
            <input disabled type="text" ng-model="model.user.loginName">
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>{{loc.user.general.password1}}</label>
            <input type="password" ng-model="model.user.password1">
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>{{loc.user.general.password2}}</label>
            <input type="password" ng-model="model.user.password2">
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>{{loc.user.general.email}}</label>
            <input type="email" ng-model="model.user.email">
        </md-input-container>
    </div>
</div>