<div flex class="md-padding">
    <div layout="row">
        <md-input-container class="md-block" flex>
            <md-radio-group ng-model="model.gpio.mode" layout="row" class="md-primary">
                <md-radio-button value="INPUT">{{loc.gpio.general.modes.input}}</md-radio-button>
                <md-radio-button value="OUTPUT"> {{loc.gpio.general.modes.output}}</md-radio-button>
            </md-radio-group>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>{{loc.gpio.general.description}}</label>
            <input ng-model="model.gpio.description">
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>{{loc.gpio.general.number}}</label>
            <md-select ng-model="model.gpio.number">
                <md-option ng-repeat="number in view.numbers" ng-value="number">
                    {{number}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>