.login-box{
    max-width:  90%;
    width: 500px
}

.toast{

}

.toast-info{

}

.toast-error{

}

.toast-info .md-toast-content{
    color: rgb(255, 255, 255) !important;
    background: rgb(60, 60, 60) !important;
}

.toast-error .md-toast-content{
    color: rgb(255, 255, 255) !important;
    background: rgb(193, 30, 23) !important;
}

.form-border{
    border: 1px dotted gray;
}

.abs-bottom-right{
    position: absolute;
    bottom: 20px;
    right: 20px;
}