<div class="md-padding">
    <form data-ng-submit="view.submit()">
        <section class="md-whiteframe-z1">
            <md-toolbar>
                <div class="md-toolbar-tools">{{loc.overview.title}}</div>
            </md-toolbar>
            <md-content>
                <md-list ng-show="model.gpios.length > 0" flex>
                    <md-list-item ng-class="{'gpio-disabled': !gpio.state, 'gpio-high': gpio.state === 'HIGH', 'gpio-low': gpio.state === 'LOW'}" class="md-3-line" ng-repeat="gpio in model.gpios">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{gpio.description}}</h3>
                            <h4>{{loc.gpio.general.number}}: {{gpio.number}}</h4>
                            <p ng-show="gpio.mode === 'OUTPUT' && gpio.ouputMode === 'TIMEOUT'">{{loc.gpio.general.timeout}}: {{gpio.timeout}}</p>
                        </div>
                        <md-icon aria-label="Change" ng-show="gpio.mode === 'OUTPUT'" md-font-icon="material-icons" class="md-secondary" ng-click="view.change(gpio)">swap_vertical_circle</md-icon>
                        <md-icon ng-show="false" aria-label="Edit" ng-show="gpio.id" md-font-icon="material-icons" class="md-secondary" ng-click="view.edit(gpio)">edit</md-icon>
                        <md-icon aria-label="Delete" class="md-secondary md-warn" md-font-icon="material-icons" ng-click="view.delete(gpio)">delete_forever</md-icon>
                    </md-list-item>
                </md-list>
                <p ng-hide="model.gpios.length > 0">
                    <a layout="row" layout-align="center center" href="/#!/gpio/add">{{loc.overview.empty}}</a>
                </p>
            </md-content>
            <md-button href="/#!/gpio/add" aria-label="Add-Pin" class="md-fab md-primary abs-bottom-right">
                <md-icon md-font-icon="material-icons">add</md-icon>
                <md-tooltip md-direction="left">{{loc.gpio.add.title}}</md-tooltip>
            </md-button>
        </section>
    </form>
</div>